  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
                    <ul class="list-inline quicklinks">
                      <li>  <a href="tel:6417998347">641-799-8347</a>
                      </li>
                      <li><a href="https://www.google.com/maps/place/15603+Copperhead+Rd,+Ottumwa,+IA+52501/@40.9443704,-92.4635596,17z/data=!3m1!4b1!4m5!3m4!1s0x87e8a0083a48d7c1:0xbc057a0d42bba32a!8m2!3d40.9443704!4d-92.4613709">
                          15603 Copperhead Road Ottumwa,IA 52501
                          </a>
                      </li>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                    </ul>
                    <div class="col-md-4">
                        <span class="copyright"></br>Web Hosting &amp Design by <a href="http://www.tirelesswake.com">Tireless Wake</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
