  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2016</span>
                    <ul class="list-inline quicklinks">
                      <li>  <a href="tel:6417998347">641-799-8347</a>
                      </li>
                      <li><a href="https://www.google.com/maps?q=1932+Albia+Rd+Ottumwa,+IA+52501&es_sm=119&um=1&ie=UTF-8&sa=X&ei=efrjVNT8B8mmyAT38YHoCw&ved=0CAgQ_AUoAQ">
                          15603 Copperhead Road Ottumwa,IA 52501
                          </a>
                      </li>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        {% for network in site.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }}"></i></a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                    </ul>
                    <div class="col-md-4">
                        <span class="copyright"></br>Web Hosting &amp Design by <a href="http://www.tirelesswake.com">Tireless Wake</a></span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
